{% extends 'base.html' %}

{% block imports %}
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/list-groups/">
{% endblock %}

{% block title %}Page not found{% endblock %}

{% block nav%}
<ul class="nav nav-pills">
    <li class="nav-item"><a href="{{ url_for('contact.index') }}" class="nav-link" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="{{ url_for('contact.show_favorites') }}" class="nav-link">Favorites</a></li>
    <li class="nav-item"><a href="{{ url_for('contact.create') }}" class="nav-link">Add contact</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="page-not-found">
        <h1 class="text-body-emphasis">Page not found, please come back to something else :)</h1>
    </div>
</div>
{% endblock %}
